html{
    box-sizing: border-box;
    font-size:16px;
    border:0;
    padding:0;   
    font-family:'Poppins', sans-serif;
    font-size:1.2rem;
}  

a{color:black;
  text-decoration: none;
}

/* header - includes name and nav bar */
 header {
    /* border:3px solid green; */
    position:sticky;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-image: url("../images/header-bg.png" );
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

 }

#name{
    font-family:Tangerine, cursive;
    padding-left:2rem;
    font-size:3rem;
    color:rgb(25, 27, 28);
}

#nav-list{
    display:flex;
    flex-wrap:wrap;
    list-style: none;
    padding-right:0.75rem; 
}

#nav-list li{
    padding:0 1rem;
    font-size:1rem;
    font-weight: 550;
  }



/* about me section - includes a synopsis of me and image*/
 #about-me{
    background-color:cornsilk;
    display:flex;
    justify-content:space-around;
    width:100%;
    flex-wrap:wrap;
 }
 


 .image-container{

    /* border:4px solid purple; */
    /* height:20em; */
    /* width:20em;*/
   
 }
 .image-container #img-me{
    /* border:2px solid green; */
    margin:1rem;
    height:10em;
    width:10em;
    border-radius:50%
 }
 .paragraph{
    width:80%;
    padding:0 2rem 1rem 2rem;
    
 }
 



/*projects section */

h3{
   margin-top:0%;
   padding-top:1rem;
   text-align: center;
   font-family: Tangerine, cursive;
   font-size:3rem;
   color:rgb(25, 27, 28);
}


#project-section{
   /* border:2px solid blue;*/
    background-color:darkseagreen;
   
  
}

#projects{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-around;
   /* align-content: center; */
   

}
 .img-project-container{
   border:5px solid cornsilk;
   height: 6rem;
   width:8rem;
 }

 .img-project-container img{
   width:100%;
   height:100%;
   object-fit:fill;

 }

 /* skills section */
 #skill-section{
   background-color:cornsilk;
 }

 #heading-skills{
   margin-bottom:0;
 }

#skills{
   /* border:3px solid red; */
   display:flex;
   flex-wrap: wrap;
  }
   
 .skill-container{
  /* border:2px solid blue; */
  padding:1em 2em 0 4em;
  height: 3rem;
  width:2rem;
 }

 .skill-lang{
   font-size:0.5em;
   font-family: poppins, "sans-serif";
   color:black;
   padding-left:0.5em;
 }
/* 
 .fa{ */
   /* font-size:10rem; */
   /* height:100%; */
   /* width:100%; */
   /* object-fit:contain; */
 /* } */

/* footer */

footer{
   background-color:darkseagreen;
   height:6.5em;
}
footer img{
   position:relative;
   bottom:3.5em;
   left:2.5em;
   width:5%
   
}